.user-control__button {
  transition: opacity var(--transition);
  padding: 0;
}

.user-control__icon {
  display: block;
  width: 44px;
  height: 44px;
  background: var(--user-control-btn-bg) url(../../img/icon/user.svg) center/14px 14px no-repeat;
  margin-right: 16px;
  border-radius: 50%;
}

.user-control__name {
  display: block;
  margin-right: 4px;
}

.user-control__link {
  color: var(--dark-blue);
  padding: 10px 10px;
  transition: all var(--transition);
}

@media screen and (hover: hover) {
  .user-control__button:hover {
    opacity: 0.7;
  }

  .user-control__link:hover {
    color: var(--text-color);
    text-decoration: none;
  }
}
