.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;
  min-height: 80px;
  box-shadow: 0px 5px 10px rgba(186, 192, 209, 0.2);
  background: var(--white);
  position: relative;
}

.header__logo {
  display: none;
}

.header__market-selection {
  margin-right: auto;
  width: 250px;
}

.header__balance {
  margin-right: 40px;
}

.header__notifications {
  width: 44px;
  height: 44px;
}

.header__notifications {
  margin-right: 40px;
}

.header__user-control {
  margin-right: 40px;
}

.header__toggle-menu {
  display: none;
}

.header__user-nav {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  display: none;
  background: #fff;
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 64px;
    justify-content: space-between;
  }

  .header__logo {
    display: flex;
  }

  .header__market-selection {
    margin-right: 0;
    width: auto;
  }

.header__balance {
    margin-right: 0;
  }

  .header__notifications {
    display: none;
  }

  .header__user-control {
    display: none;
  }

  .header__toggle-menu {
    display: flex;
  }

  .menu-open .header__user-nav {
    display: block;
  }
}
