*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}
